@charset "UTF-8";


body{
    margin: 0px;
}

#contanier {
    background-image: url(imagens/espaco.jpg);
    position: relative;
    height: 100vh;
    background-position: center center;
    margin: 0%;

    
}

#conteudo {
    background-image: url(imagens/astronauta.png);
    position: absolute;
    height: 400px;
    width: 400px;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}


#conteudo{
    width: 400px;
    height: 400px;
    
    -webkit-animation: MoveUpDown 2s linear infinite;
          animation: MoveUpDown 2s linear infinite;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
    }
    
       
    @-webkit-keyframes MoveUpDown {
        0%,
        100% {
          top: 400px;
        }
        50% {
          top: 340px;
        }
      }
      
      @keyframes MoveUpDown {
        0%,
        100% {
          top: 400px;
        }
        50% {
          top: 340px;
        }
      }
